aiobotocore==3.7.0
cloudfoundry_client==1.40.3
hana-ml==2.29.26061601
ipykernel==7.3.0
jupysql==0.11.1
langchain-aws==1.4.7
langchain-google-genai==4.2.7
langchain-hana==1.1.1
Markdown==3.10.2
markdownify==1.2.3
nbconvert==7.17.1
pillow==12.3.0
pip==26.1.2
sap-ai-sdk-gen==6.10.0
scikit-learn==1.9.0
sqlalchemy-hana==4.6.0
tinycss2==1.5.1
webcolors==25.10.0
